body{
    background:#f8f9fa;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    min-height:90vh;
    display:flex;
    align-items:center;
}

img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #0d6efd;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1{
    font-weight:700;
}

.btn{
    padding:10px 25px;
}